# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Django migration files
*/migrations/

# Ignore environment variables
.env
venv/

# Ignore database files
*.sqlite3

# Ignore IDE settings
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore arquivos de configuração do sistema operacional
Thumbs.db
.DS_Store

# Ignore outros arquivos de log
*.log
